In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv('cricket.csv')
data

,Team,Opponent,Format,Ground,Year,Toss,Selection,Run Scored,Wicket Lost,Fours,Sixes,Extras,Run Rate,Avg Bat Strike Rate,Highest Score,Wicket Taken,Given Extras,Highest Individual wicket,Player Of The Match,Result
0,Pakistan,Sri Lanka,ODI,Sharjah,1984,Lose,Batting,187.0,9.0,9.0,3.0,21.0,4.06,52.04,47.0,5.0,26.0,2.0,Roy Dias,Lose
1,Sri Lanka,Pakistan,ODI,Sharjah,1984,Win,Bowling,190.0,5.0,11.0,1.0,26.0,4.36,68.51,57.0,9.0,21.0,3.0,Roy Dias,Win
2,India,Sri Lanka,ODI,Sharjah,1984,Win,Bowling,97.0,0.0,9.0,0.0,14.0,4.47,60.48,51.0,10.0,8.0,3.0,Surinder Khanna,Win
3,Sri Lanka,India,ODI,Sharjah,1984,Lose,Batting,96.0,10.0,7.0,0.0,8.0,2.34,25.74,38.0,0.0,14.0,0.0,Surinder Khanna,Lose
4,India,Pakistan,ODI,Sharjah,1984,Win,Batting,188.0,4.0,13.0,3.0,17.0,4.08,60.21,56.0,10.0,5.0,3.0,Surinder Khanna,Win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,India,Afghanistan,T20I,Dubai(DSC),2022,Lose,Batting,212.0,2.0,21.0,9.0,2.0,10.60,194.05,122.0,8.0,3.0,5.0,Virat Kohli,Win
250,Pakistan,Sri Lanka,T20I,Dubai(DSC),2022,Lose,Batting,121.0,10.0,4.0,3.0,17.0,6.31,58.78,30.0,5.0,5.0,2.0,Wanindu Hasaranga de Silva,Lose
251,Sri Lanka,Pakistan,T20I,Dubai(DSC),2022,Win,Bowling,124.0,5.0,9.0,5.0,5.0,7.29,111.50,55.0,10.0,17.0,3.0,Wanindu Hasaranga de Silva,Win
252,Pakistan,Sri Lanka,T20I,Dubai(DSC),2022,Win,Bowling,147.0,10.0,9.0,4.0,14.0,7.35,99.38,55.0,6.0,10.0,3.0,Bhanuka Rajapaksa,Lose
253,Sri Lanka,Pakistan,T20I,Dubai(DSC),2022,Lose,Batting,170.0,6.0,16.0,5.0,10.0,8.50,90.86,71.0,10.0,14.0,4.0,Bhanuka Rajapaksa,Win

In [3]:
def cov_num(col):
  i=1
  for value in data[col].unique():
    data[col]=data[col].replace(value,str(i))
    i+=1
  data[col]=data[col].astype(float)
  data[col].unique()

In [4]:
data.isnull().any()

Team                         False
Opponent                     False
Format                       False
Ground                       False
Year                         False
Toss                         False
Selection                    False
Run Scored                    True
Wicket Lost                   True
Fours                         True
Sixes                         True
Extras                        True
Run Rate                      True
Avg Bat Strike Rate           True
Highest Score                 True
Wicket Taken                  True
Given Extras                  True
Highest Individual wicket     True
Player Of The Match           True
Result                       False
dtype: bool

In [5]:
data=data.ffill()
# ffill
# bfill
# fillna

In [6]:
data.isnull().any()

Team                         False
Opponent                     False
Format                       False
Ground                       False
Year                         False
Toss                         False
Selection                    False
Run Scored                   False
Wicket Lost                  False
Fours                        False
Sixes                        False
Extras                       False
Run Rate                     False
Avg Bat Strike Rate          False
Highest Score                False
Wicket Taken                 False
Given Extras                 False
Highest Individual wicket    False
Player Of The Match          False
Result                       False
dtype: bool

In [7]:
data['Result'].unique()

array(['Lose', 'Win', 'win', 'No Result', ' Win D/L', ' Lose D/L'],
      dtype=object)

In [9]:
data['Result']=data['Result'].replace('Lose',str(1))
data['Result']=data['Result'].replace(' Lose D/L',str(1))
data['Result']=data['Result'].replace('Win',str(2))
data['Result']=data['Result'].replace('win',str(2))
data['Result']=data['Result'].replace(' Win D/L',str(2))
data['Result']=data['Result'].replace('No Result',str(0))

In [12]:
data['Result']=data['Result'].astype(float)

In [14]:
data['Toss']=data['Toss'].replace('win','Win')

In [15]:
data['Toss'].unique()

array(['Lose', 'Win'], dtype=object)

In [16]:
cov_num('Toss')

In [17]:
data['Selection'].unique()

array(['Batting', 'Bowling'], dtype=object)

In [18]:
cov_num('Selection')

In [19]:
data

,Team,Opponent,Format,Ground,Year,Toss,Selection,Run Scored,Wicket Lost,Fours,Sixes,Extras,Run Rate,Avg Bat Strike Rate,Highest Score,Wicket Taken,Given Extras,Highest Individual wicket,Player Of The Match,Result
0,Pakistan,Sri Lanka,ODI,Sharjah,1984,1.0,1.0,187.0,9.0,9.0,3.0,21.0,4.06,52.04,47.0,5.0,26.0,2.0,Roy Dias,1.0
1,Sri Lanka,Pakistan,ODI,Sharjah,1984,2.0,2.0,190.0,5.0,11.0,1.0,26.0,4.36,68.51,57.0,9.0,21.0,3.0,Roy Dias,2.0
2,India,Sri Lanka,ODI,Sharjah,1984,2.0,2.0,97.0,0.0,9.0,0.0,14.0,4.47,60.48,51.0,10.0,8.0,3.0,Surinder Khanna,2.0
3,Sri Lanka,India,ODI,Sharjah,1984,1.0,1.0,96.0,10.0,7.0,0.0,8.0,2.34,25.74,38.0,0.0,14.0,0.0,Surinder Khanna,1.0
4,India,Pakistan,ODI,Sharjah,1984,2.0,1.0,188.0,4.0,13.0,3.0,17.0,4.08,60.21,56.0,10.0,5.0,3.0,Surinder Khanna,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,India,Afghanistan,T20I,Dubai(DSC),2022,1.0,1.0,212.0,2.0,21.0,9.0,2.0,10.60,194.05,122.0,8.0,3.0,5.0,Virat Kohli,2.0
250,Pakistan,Sri Lanka,T20I,Dubai(DSC),2022,1.0,1.0,121.0,10.0,4.0,3.0,17.0,6.31,58.78,30.0,5.0,5.0,2.0,Wanindu Hasaranga de Silva,1.0
251,Sri Lanka,Pakistan,T20I,Dubai(DSC),2022,2.0,2.0,124.0,5.0,9.0,5.0,5.0,7.29,111.50,55.0,10.0,17.0,3.0,Wanindu Hasaranga de Silva,2.0
252,Pakistan,Sri Lanka,T20I,Dubai(DSC),2022,2.0,2.0,147.0,10.0,9.0,4.0,14.0,7.35,99.38,55.0,6.0,10.0,3.0,Bhanuka Rajapaksa,1.0
253,Sri Lanka,Pakistan,T20I,Dubai(DSC),2022,1.0,1.0,170.0,6.0,16.0,5.0,10.0,8.50,90.86,71.0,10.0,14.0,4.0,Bhanuka Rajapaksa,2.0

In [21]:
cov_num('Team')

In [22]:
x=data.iloc[:,[0,5,6,7,8]]
x

     Team  Toss  Selection  Run Scored  Wicket Lost
0     1.0   1.0        1.0       187.0          9.0
1     2.0   2.0        2.0       190.0          5.0
2     3.0   2.0        2.0        97.0          0.0
3     2.0   1.0        1.0        96.0         10.0
4     3.0   2.0        1.0       188.0          4.0
..    ...   ...        ...         ...          ...
249   3.0   1.0        1.0       212.0          2.0
250   1.0   1.0        1.0       121.0         10.0
251   2.0   2.0        2.0       124.0          5.0
252   1.0   2.0        2.0       147.0         10.0
253   2.0   1.0        1.0       170.0          6.0

[254 rows x 5 columns]

In [24]:
y=data.iloc[:,-1]
y

0      1.0
1      2.0
2      2.0
3      1.0
4      2.0
      ...
249    2.0
250    1.0
251    2.0
252    1.0
253    2.0
Name: Result, Length: 254, dtype: float64

In [25]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)

In [27]:
log=LogisticRegression()
log.fit(xtrain,ytrain)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
log.predict(xtest)

array([2., 1., 1., 1., 2., 2., 1., 1., 2., 2., 2., 2., 1., 1., 2., 2., 1.,
       2., 2., 1., 1., 1., 2., 2., 1., 1., 2., 1., 1., 1., 2., 1., 1., 1.,
       2., 1., 2., 1., 1., 2., 2., 2., 2., 1., 2., 1., 1., 1., 1., 1., 2.,
       1., 1., 2., 2., 1., 2., 2., 2., 1., 2., 1., 1., 2.])

In [29]:
ytest

122    2.0
211    1.0
160    1.0
3      1.0
113    2.0
      ...
168    1.0
117    2.0
81     1.0
78     2.0
26     2.0
Name: Result, Length: 64, dtype: float64

In [30]:
# 1)you have have to choose required columns from the data set 
# 2)you have to use two techniques of filling methods like (filna,ffill,bfill)
# 3)you have to predict the model for each methods of filling
# 4)compare the results